.sidebarContainer{
    margin: 0px;
    padding: 0px;
}
.sidebarContainer ul{
    margin: 0px;
    list-style: none;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}